<app-card
  *ngFor="let currentPost of posts"
  [cardTitle]="currentPost.title"
  [cardImageUrl]="currentPost.imageUrl"
  [cardUsername]="currentPost.username"
  [cardContent]="currentPost.content"
></app-card>

<!-- <app-card
  [cardTitle]="posts[0].title"
  [cardImageUrl]="posts[0].imageUrl"
  [cardUsername]="posts[0].username"
  [cardContent]="posts[0].content"
></app-card>

<app-card
  [cardTitle]="posts[1].title"
  [cardImageUrl]="posts[1].imageUrl"
  [cardUsername]="posts[1].username"
  [cardContent]="posts[1].content"
></app-card>

<app-card
  [cardTitle]="posts[2].title"
  [cardImageUrl]="posts[2].imageUrl"
  [cardUsername]="posts[2].username"
  [cardContent]="posts[2].content"
></app-card> -->
