<h1>Sign Up</h1>
<form (submit)="onClickSignup(); $event.preventDefault()">
  <label for="username">Username</label>
  <input id="username" type="text" (input)="onChangeUsername($event)" />

  <label for="email">Email</label>
  <input id="username" type="text" (input)="onChangeEmail($event)" />

  <label for="password">Password</label>
  <input id="password" type="password" (input)="onChangePassword($event)" />

  <label for="confirmPassword">Confirm Password</label>
  <input
    id="confirmPassword"
    type="password"
    (input)="onChangeConfirmPassword($event)"
  />

  <button [disabled]="isDisabled()">Sign Up</button>
</form>
