<div
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
  *ngIf="!signUpSuccess; else successMessage"
>
  <!-- use bootstrap card -->
  <div class="card" data-testid="form-sign-up">
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>
    <div class="card-body">
      <form
        class="card-body"
        (submit)="onClickSignUp(); $event.preventDefault()"
      >
        <div class="form-group mb-4">
          <label for="username">Username</label>
          <input
            name="username"
            id="username"
            type="text"
            class="form-control"
            [(ngModel)]="username"
          />
        </div>
        <div class="form-group mb-4">
          <label for="email">Email</label>
          <input
            name="email"
            id="email"
            type="text"
            class="form-control"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
        <div class="form-group mb-4">
          <label for="confirmPassword">Confirm Password</label>
          <input 
          name="confirmPassword"
          id="confirmPassword" type="password" class="form-control" 
          [(ngModel)]="confirmPassword"
          />
        </div>

        <!-- wrap the button with div and center-->
        <div class="text-center">
          <app-button [myDisabled]="isDisabled()" [apiProgress]="apiProgress"
            >Sign Up</app-button
          >
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #successMessage>
  <app-alert>Account activation link has been sent to your email</app-alert>
</ng-template>
