<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
  <!-- use bootstrap card -->
  <div class="card">
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group mb-4">
          <label for="username">Username</label>
          <input
            id="username"
            type="text"
            class="form-control"
            (input)="onChangeUsername($event)"
          />
        </div>
        <div class="form-group mb-4">
          <label for="email">Email</label>
          <input
            id="email"
            type="text"
            class="form-control"
            (input)="onChangeEmail($event)"
          />
        </div>
        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            (input)="onChangePassword($event)"
          />
        </div>
        <div class="form-group mb-4">
          <label for="confirmPassword">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            class="form-control"
            (input)="onChangeConfirmPassword($event)"
          />
        </div>

        <!-- wrap the button with div and center-->
        <div class="text-center">
          <button
            class="btn btn-primary"
            [disabled]="isDisabled() || apiProgress"
            (click)="onClickSignup()"
          >
            <span
              *ngIf="apiProgress"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Sign Up
          </button>
        </div>
      </form>
    </div>

    <!-- add a footer -->
  </div>
</div>
